@model int
@using Microsoft.AspNetCore.Localization
@using SoftreserveTracker.Web.Infrastructure
@{
    var requestCulture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>()?.RequestCulture;
    var culture = requestCulture?.UICulture?.TwoLetterISOLanguageName ?? "de";
    var token = ViewBag.Token;
    var linkToDetail = token != null && ViewBag.ItemLinkExternalOnly != true;
    var wowheadHref = WowheadTbcLinks.ItemHref(Model, culture);
    var detailHref = linkToDetail ? Url.Action("Item", "Overview", new { token, itemId = Model })! : null;
    var extraClass = ViewBag.ItemLinkCssClass as string;
    var linkClass = string.IsNullOrWhiteSpace(extraClass) ? "item-link" : $"item-link {extraClass}";
    var linkId = ViewBag.ItemLinkId as string;
}
<a href="@wowheadHref"
   data-wowhead="@WowheadTbcLinks.ItemDataWowhead(Model, culture)"
   class="@linkClass"
   @if (!string.IsNullOrEmpty(linkId))
   {
       @:id="@linkId"
   }
   @if (detailHref != null)
   {
       @:data-item-detail-href="@detailHref"
   }
   @if (!linkToDetail)
   {
       @:target="_blank" rel="noopener noreferrer"
   }>@Model</a>
